<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://use.fontawesome.com/e4337e4185.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        ToDo List
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Candal&family=Lobster&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="/css/todoStyles.css">    

    <link rel="stylesheet" href="/css/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/css/all.min.css">
</head>
<body>